<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Reply Notification</title>
  </head>
  <body>
    <h1>date <%= order.date %></h1>
    <h1>_id <%= order._id %></h1>
    <h1>name <%= order.name %></h1>
    <h1>price <%= order.price %></h1>
    <p>
      ipsum dolor sit amet consectetur adipisicing elit. Eligendi reprehenderit
      blanditiis error saepe mollitia veritatis hic expedita! Adipisci aliquid
      deserunt similique enim at, cumque provident, iure ipsum praesentium,
      debitis sequi.
    </p>
  </body>
</html>
